.ourWorksWrapper{
  background: #161616;
  padding-top: 160px;
  padding-bottom: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Wrapper{
  min-width: fit-content;
  height: 543px;
  /* perspective: 1000px; */
}
.project, .projectBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.projectBack{
  min-width: fit-content;
  border: 1px solid #7E7B78;
  border-radius: 40px;
  padding: 56px 24px 24px 24px;
  height: 543px;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  transform: rotateY(180deg);
}
.Wrapper:hover .flipCardInner {
  transform: rotateY(180deg);
}
.flipCardInner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.project{
  min-width: fit-content;
  border: 1px solid #7E7B78;
  border-radius: 40px;
  padding: 56px 24px 24px 24px;
  height: 543px;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.projectTitle{
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: #F2F0EE;
}
.projectDescription{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #E2DFDC;
}
.ourWorksIcon{
  max-width: 80%;
}

.projectButtons{
  display: flex;
  gap: 15px;
}
.projectButton{
  padding: 20px 30px;
  text-align: center;
  border: 1px solid #86B7E0;
  background: transparent;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  color: #F2F0EE;
  cursor: pointer;
}
.projectButton:hover{
  opacity: 0.7;
}
.prevArrow{
  top: -40px !important;
  right: 300px !important;
  left: auto;
  width: fit-content !important;
}
.prevArrow::before{
  display: none;
}
.slider{
  display: flex !important;
}
.nextArrow{
  top: -40px !important;
  right: 110px !important;
  width: fit-content !important;
}
.nextArrow::before{
  display: none;
}