.faqWrapper{
  background: #161616;
  padding-bottom: 111px;
}
.faqContainer{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
.plusMinus {
  width: 20px;
}
.title{
  font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 44px;
  color: #F2F0EE;
  margin-bottom: 42px;
}
.questions{
  border-top: 1px solid #86B7E0;
  padding: 32px 0 32px 0;
}
.titleWrapper{
  display: flex;
  justify-content: space-between;
}
.numberWrapper{
  display: flex;
  gap: 40px;
}
.numberQuestion{
  font-size: 24px;
font-weight: 500;
line-height: 28px; /* 116.667% */
letter-spacing: 0.72px;
  background: linear-gradient(133.26deg, #082B9B 3.83%, #86B7E0 84.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.questionTitle{
  font-size: 24px;
font-weight: 500;
line-height: 28px; /* 116.667% */
letter-spacing: 0.72px;
  color: #F2F0EE;
}
.description{
  width: 60%;
  padding: 12px 0 10px 0;
  font-size: 14px;
font-weight: 400;
line-height: 20px;
  color: #E2DFDC;
  max-height: 500px;
  white-space: pre-line;
  transition-property: color, max-height, padding;
  transition-duration: 0.4s, 0.5s, 0.5s;
}
.descriptionHidden{
  width: 60%;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  color: transparent;
  max-height: 0px;
  white-space: pre-line;
  transition-property: color, max-height, padding;
  transition-duration: 0.4s, 0.5s, 0.5s;
}
.increaseButton{
  cursor: pointer;
}
.increaseButton:hover{
  opacity: 0.7;
}

@media (min-width: 992px) {
  .faqContainer {
    padding: 0 80px;
  }
  .title {
    font-size: 82px;
font-weight: 500;
line-height: 82px;
  }
  .numberQuestion {
    font-size: 32px;
font-weight: 500;
line-height: 40px; /* 125% */
letter-spacing: 0.96px;
margin-right: 20px;
  }
  .questionTitle {
    font-size: 32px;
font-weight: 500;
line-height: 40px; /* 125% */
letter-spacing: 0.96px;
  }
  .plusMinus {
    width: 32px;
  }
  .description {
    font-size: 20px;
font-weight: 400;
line-height: 28px;
  }
}

@media(max-width: 1500px){
  .faqContainer{
    max-width: 1200px;
  }
  .descriptionHidden{
    font-size: 23px;
  }
}
@media (max-width: 1215px){
  .plusMinus{
    width: 20px;
  }
  .descriptionHidden{
    font-size: 14px;
    line-height: 20px;
  }
  .numberWrapper{
    gap: 10px;
  }
  .faqWrapper{
    padding-bottom: 120px;
  }
}
@media (max-width: 1215px){
  .description{
    width: 90%;
  }
  .descriptionHidden{
    width: 90%;
  }
}