.servicesWrapper {
  position: relative;
  z-index: 10;
  background: #161616;
  overflow: hidden;
  border-radius: 60px 60px 0px 0px;
  margin-top: -265px;
  padding-bottom: 45px;
}
.service{
  max-width: 1600px;
  padding: 0 15px 15px 15px;
  margin: 0 auto;
}
.title{
  margin-top: 110px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
.title > img{
  max-width: 60%;
}
.subtitle{
  margin: 0 auto;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #E2DFDC;
  max-width: 500px;
  width: auto !important;
  position: relative;
  z-index: 2;
}
.bgSpot{
  position: absolute;
  top: 0px;
  left: -50px;
  z-index: 1;
}
.cardWrapper{
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  box-sizing: border-box;
  margin: 0 -18px 0 -18px;
}
.card{
  padding: 43px 18px 0 18px;
  width: calc(100% - 18px - 18px);
}
.card:nth-child(1){
  border-bottom: 0.25px solid #5a82b6;
}
.card:nth-child(2){
  border-left: 0.25px solid #5a82b6;
  border-right: 0.25px solid #5a82b6;
  border-bottom: 0.25px solid #5a82b6;
}
.card:nth-child(5){
  border-left: 0.25px solid #5a82b6;
  border-right: 0.25px solid #5a82b6;
}
.card:nth-child(3){
  border-bottom: 0.25px solid #5a82b6;
}
.cardName{
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: #F2F0EE;
  margin: 0 0 12px 0;
}
.cardDescription{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #E2DFDC
}

@media(max-width: 1500px){
  .service{
    max-width: 1200px;
  }
  .subtitle{
    font-size: 18px;
  }
}
@media(max-width: 1330px){
  .title{
    margin-top: 48px;
    margin-bottom: 18px;
    flex-direction: column;
    align-items: baseline;
  }
  .title > img{
    height: 100%;
  }
  .subtitle{
    margin: 18px 20px 0 20px;
  }
  .cardWrapper{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .card:nth-child(1){
    border-bottom: 0.25px solid #5a82b6;
    border-right: 0.25px solid #5a82b6;
  }
  .card:nth-child(2){
    border-bottom: 0.25px solid #5a82b6;
    border-right: none;
  }
  .card:nth-child(4){
    border-bottom: 0.25px solid #5a82b6;
  }
  .card:nth-child(5){
    border-right: 0.25px solid #5a82b6;
    border-left: none;
  }
  .card:nth-child(3){
    border-bottom: 0.25px solid #5a82b6;
    border-right: 0.25px solid #5a82b6;
  }
}
@media(max-width: 800px){
  .servicesWrapper{
    border-radius: 20px 20px 0 0;
  }
  .service{
    padding: 0;
    margin: 0 20px;
  }
  .cardWrapper{
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .card:nth-child(1){
    border-bottom: none;
    border-right: none;
  }
  .card:nth-child(2){
    border-bottom: none;
    border-right: none;
    border-left: none;
  }
  .card:nth-child(4){
    border-bottom: none;
    border-right: none;
  }
  .card:nth-child(5){
    border-bottom: none;
    border-right: none;
  }
  .card:nth-child(3){
    border-bottom: none;
    border-right: none;
  }
  .card{
    border-bottom: 0.25px solid #5a82b6 !important;
    padding: 0 0 32px 0;
    width: fit-content;
    margin-top: 32px;
  }
  .card:last-child{
    border-bottom: none !important;
  }
}