@font-face {
  font-family: 'Clash Display Variable';
  src:  url('../assets/fonts/ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf') format('truetype') ;
  font-weight: normal;
  font-style: normal;
}
body{
  margin: 0;
  font-family: 'Clash Display Variable';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sliderOurWork > .slick-list > .slick-track > .slick-slide {
  margin: 0 27px;
}
.sliderOurWork > .slick-list > .slick-track{
  display: flex !important;
}

.industriesSlider > .slick-list > .slick-track{
  width: min-content;
}
.industriesSlider > .slick-list > .slick-track > .slick-slide {
  width: fit-content !important;
}
/* .sliderOurWork> .slick-list {
  padding:0 20% 0 0 !important;
} */
.slick-disabled > svg > path{
  fill: #373737;
}
.industriesSlider>.slick-slider{
  width: 25%;
}

.sliderClutch > .slick-list > .slick-track{
  display: flex !important;
  gap: 50px;
}

.footer > .slick-list > .slick-track{
  display: flex !important;
  align-items: center;
  gap: 50px;
}
.footer > .slick-list > .slick-track > .slick-slide{
  width: auto !important;
  min-height: max-content;
}



