.getTouchWrapper {
  border-radius: 20px 20px 0px 0px;
  background: #161616;
  padding-top: 228px;
  padding-bottom: 228px;
  margin-top: -60px;
  z-index: 15;
  position: relative;
}

.getTouchIcon {
  max-width: 80%;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 173px;
  padding: 0 15px;
}

.title {
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #E2DFDC;
}

@media (min-width: 992px) {
  .container {
    padding: 0 80px;
  }

  .title {
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
  }

}

@media (min-width: 1280px) {
  .getTouchWrapper {
    border-radius: 60px 60px 0px 0px;
  }

}

@media(max-width: 1500px) {
  .container {
    gap: 50px;
  }
}

@media (max-width: 1215px) {
  .getTouchWrapper {
    padding-top: 0px;
    padding-bottom: 178px;
  }

  .getTouchIcon {
    height: 100%;
    margin-bottom: 14px;
  }

  .container {
    flex-direction: column;
    gap: 73px;
  }
}