.getTouchWrapper{
  background: #161616;
  padding-top: 228px;
  padding-bottom: 228px;
}
.getTouchIcon{
  max-width: 80%;
}
.container{
  display: flex;
  justify-content: center;
  gap: 173px;
  padding: 0 15px;
}
.title{
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #E2DFDC;
}
@media(max-width: 1500px){
  .container{
    gap: 50px;
  }
}
@media (max-width: 1215px){
  .getTouchWrapper{
    padding-top: 0px;
    padding-bottom: 178px;
  }
  .getTouchIcon{
    height: 100%;
    margin-bottom: 14px;
  }
  .title{
    font-size: 16px;
    line-height: 22px;
  }
  .container{
    flex-direction: column;
    gap: 73px;
    padding: 0 20px;
  }
}