.firstScreenWrapper{
  background: #F2F0EE;
}
.container{
  max-width: 1600px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.block{
  position: relative;
  display: flex;
  background: #F2F0EE;
  max-width: 200px;
  padding-right: 30px;
  box-sizing: border-box;
  border-right: 1px solid #86B7E0;
  max-height: 0px;
  padding-top: 0px;
  animation-name: goup;
  animation-delay: 4.5s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.block:nth-child(2){
  animation-delay: 4s;
  animation-duration: 1s;
}
.block:last-child{
  animation-delay: 3s;
  animation-duration: 1s;
}
.blockHover:hover::before{
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  transform: scaleY(200);
  transition: all 1s;
  background-size: 150% 150%;
  -webkit-animation: Animation 5s ease 1s;
  -moz-animation: Animation 5s ease 1s;
  animation: Animation 5s ease 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  /* animation-name: backgroundBlock; 
  animation-delay: 1s;
  animation-duration: 4s;
  animation-fill-mode: forwards;  */
}
.blockHover::before{
  position: absolute;
  top: 0;
  content:"1";
  color: transparent;
  width:100%;
  min-width: 100%;
  height: 10px;
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  background-size: 200% 200%;
  transform: scaleY(0);
  transition: all 0.5s;
}
.blockHover:hover .name{
  background: #F2F0EE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.5s all;
}
.name{
  position: relative;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
  letter-spacing: 0.03em;
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.5s all ease;
  transform: rotate(90deg);
}
.whiteBackground{
  display: inline-block;
  position: absolute;
  color: transparent;
  background: #F2F0EE;
  animation-name: whiteBackground;
  animation-duration: 0.3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  transform-origin: 100%;
}
.skillsWrapper{
  position: absolute;
  right: 0;
  display: flex;
  height: 880px;
  transform: rotate(180deg);
}

@media(max-width: 1500px){
  .container{
    max-width: 1200px;
  }
}

@keyframes goup {
  from {
    max-height: 0px;
    padding-top: 0px;
  }

  to {
    max-height: 100%;
    padding-top: 77px;
  }
}
@keyframes whiteBackground {
  from {
    max-width: 100%;
  }

  to {
    max-width: 0%;
  }
}
@-webkit-keyframes Animation {
  0%{background-position:0% 0%}
  50%{background-position:70% 70%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:0% 0%}
  50%{background-position:70% 70%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:0% 0%}
  50%{background-position:70% 70%}
  100%{background-position:10% 0%}
}
/* @keyframes backgroundBlock {
  0%{
    background-position: 0% 100%;
  }
  40%{
    background-position: 100% 0%;
  }
  80%{
    background-position: 0% 100%;
  }
} */