.firstScreenWrapper{
  background: #F2F0EE;
  /* overflow-x: hidden; */
}
.firstScreenWrapper::-webkit-scrollbar {
  display: none;
}
.container{
  max-width: 1600px;
  padding: 0 32px;
  height: 922px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.block{
  cursor: pointer;
  position: relative;
  display: flex;
  background: #F2F0EE;
  max-width: 200px;
  padding-right: 30px;
  box-sizing: border-box;
  border-right: 1px solid #21309D;
  max-height: 0px;
  padding-top: 0px;
  animation-name: goup;
  animation-delay: 3.5s;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.block:nth-child(2){
  animation-delay: 2.5s;
  animation-duration: 0.8s;
}
.block:last-child{
  animation-delay: 1.5s;
  animation-duration: 0.8s;
}
.blockHover:hover::before{
  /* background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%); */
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  transform: scaleY(200);
  transition: all 1s;
  background-size: 150% 150%;
  -webkit-animation: Animation 2s ease 0.5s;
  -moz-animation: Animation 2s ease 0.5s;
  animation: Animation 2s ease 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  /* animation-name: backgroundBlock; 
  animation-delay: 1s;
  animation-duration: 4s;
  animation-fill-mode: forwards;  */
}
.blockHover::before{
  position: absolute;
  top: 0;
  content:"1";
  color: transparent;
  width:100%;
  min-width: 100%;
  height: 10px;
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  background-size: 200% 200%;
  transform: scaleY(0);
  transition: all 0.5s;
}
.blockHover:hover .name{
  background: #F2F0EE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.6s all;
}
.name{
  position: relative;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
  letter-spacing: 0.03em;
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.5s all ease;
  transform: rotate(90deg);
}
.whiteBackground{
  display: inline-block;
  position: absolute;
  color: transparent;
  background: #F2F0EE;
  animation-name: whiteBackground;
  animation-duration: 0.6s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  /* transform-origin: 100%; */
  max-width: 100%;
}
.skillsWrapper{
  position: absolute;
  right: 0;
  display: flex;
  height: 910px;
  transform: rotate(180deg);
}
.background{
  border-radius: 60px 60px 0px 0px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background-color: black;
  opacity: 0;
  z-index: 100;
  transition: all 0.6s;
}
.skillsWrapperMobile{
  display: none;
}
@media(max-width: 1500px){
  .container{
    max-width: 1200px;
    height: auto;
    padding: 0 15px;
  }
  .skillsWrapper{
    height: 829px;
  }
}
@media(max-width: 1300px){
  .container{
    flex-direction: column;
  }
  .skillsWrapper{
    display: none;
  }
  .skillsWrapperMobile{
    display: none;
    flex-direction: column;
    padding-bottom: 130px;
  }
  .skillsWrapperMobile > .block{
    border-bottom: 1px solid #21309D;
    border-right: none;
    max-width: 1px;
    padding: 20px 0px 20px 20px;
    height: 100%;
    max-height: 80px;
    animation-name: goupMobile;
    animation-delay: 1.5s;
    animation-duration: 0.8s;
  }
  .skillsWrapperMobile > .blockHover > .name{
    background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .skillsWrapperMobile > .blockHover::before{
    background: transparent;
  }
  .skillsWrapperMobile > .blockHover:hover::before{
    background: transparent;
  }
  .skillsWrapperMobile > .block:nth-child(2){
    animation-delay: 2.5s !important;
    animation-duration: 0.8s;
  }
  .skillsWrapperMobile > .block:last-child{
    animation-delay: 3.5s !important;
    animation-duration: 0.8s;
  }
  .skillsWrapperMobile > .block:first-child{
    border-top: 1px solid #21309D;
    border-bottom: 1px solid #21309D;
  }
  .skillsWrapperMobile > .block > .name{
    transform: rotate(0deg);
    width: auto;
    height: fit-content;
  }
}
@media (max-width: 980px){
  .background{
    border-radius: 20px 20px 0px 0px;
  }
}
@media (max-width: 750px){
  .skillsWrapperMobile{
    display: none;
  }
  .skillsWrapperMobile > .block > .name{
    font-size: 32px;
  }
}

@keyframes goup {
  from {
    max-height: 0px;
    padding-top: 0px;
  }

  to {
    max-height: 100%;
    padding-top: 77px;
  }
}
@keyframes goupMobile {
  from {
    max-width: 1px;
    padding: 20px 0px 20px 20px;
  }

  to {
    max-width: 100%;
    padding: 20px 0px 20px 20px;
  }
}
@keyframes whiteBackground {
  0% {
    max-width: 100%;
  }

  90% {
    transform: translateX(300px);
    max-width: 100%;
  }
  100%{
    transform: translateX(300px);
    max-width: 0px;
  }
}
@-webkit-keyframes Animation {
  0%{background-position:0% 0%}
  50%{background-position:70% 70%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:0% 0%}
  50%{background-position:70% 70%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:0% 0%}
  50%{background-position:70% 70%}
  100%{background-position:10% 0%}
}
/* @keyframes backgroundBlock {
  0%{
    background-position: 0% 100%;
  }
  40%{
    background-position: 100% 0%;
  }
  80%{
    background-position: 0% 100%;
  }
} */