.formWrapper{
  max-width: 672px;
  width: 100%;
}
.inputContainer{
  margin-bottom: 15px;
}
.input{
  max-width: 672px;
  height: 40px;
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #504F4D;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E2DFDC;
  text-transform: uppercase;
}
.input::placeholder{
  color: #E2DFDC;
}
.input:focus-visible{
  outline: none;
}
.inputError{
  border-bottom: 1px solid red;
}
.errorMessage{
  color: red;
  font-weight: 500;
  font-size: 14px;
  height: 17px;
  margin-top: 8px 
}
.button{
  position: relative;
  overflow: hidden;
  padding: 20px 40px;
  border: none;
  margin-top: 32px;
  background: linear-gradient(128.6deg, #082B9B 13.07%, #86B7E0 104.43%);
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #E2DFDC;
  cursor: pointer;
  transition: all 0.4s;
}
.button:hover{
  opacity: 0.7;
  transition: all 0.4s;
}
.button:disabled{
  opacity: 0.7;
  transition: all 0.4s;
}
.getInTouchImg{
  position: absolute;
  top: 0;
  left: 0;
}