.headerWrapper {
  background: #F2F0EE;
}

.header {
  max-width: 1600px;
  padding: 0px 0px;
  margin: 0;
}

.headerWithPadding {
  padding: 0px 20px;
  max-width: 2500px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.marginAuto {
  margin-right: auto;
}

.headerButtons {
  display: none;
}

.headerButton {
  font-weight: 500;
  font-size: 20px;
  color: #070707;
  border: none;
  cursor: pointer;
}

.headerButton:hover {
  opacity: 0.7;
}

.headerGet:hover {
  opacity: 0.7;
}

.dropdownBlock div:hover {
  opacity: 0.7;
}

.mobileDropdownText:hover {
  opacity: 0.7;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logoMobile {
  display: flex;
}

.oBgWrapper {
  position: relative;
  margin-left: -9px;
  display: flex;
  align-items: flex-end;
  z-index: 30;
}

.inner {
  position: relative;
  z-index: 25;
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-size: 150% 150%;


  -webkit-animation-name: o;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: o;
  -moz-animation-delay: 3s;
  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: forwards;

  animation-name: o;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.o {
  display: flex;
  position: absolute;
  z-index: 20;
  top: 60%;
  left: 8px;
  transform: translate(-50%, -50%);
  transition: all 1.1s;
}

.firstO {
  position: absolute;
  z-index: 40;
  top: 50%;
  left: 50%;
  transform: scale(500) !important;
}

.getButton {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  color: #E2DFDC;
  background: linear-gradient(128.6deg, #082B9B 13.07%, #86B7E0 104.43%);
  border-radius: 40px;
  padding: 20px 40px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

.getButton:hover {
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%) !important;
  transition: all 1s !important;
}

.getInTouchImg {
  position: absolute;
  top: 0;
  left: 0;
}

/* MOBILE MENU */

.headerMenuBtn {
  display: flex;
  padding: 8px 24px;
  border-radius: 40px;
  border: 1px solid var(--dark-background-text, #161616);
  z-index: 1000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}

.headerMenuBtn:visited {
  text-decoration: none;
  color: black;
}

.headerMenuCloseBtn {
  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 12px;
  color: #F2F0EE;
  background-color: black;
  border-radius: 40px;
  border: 1px solid var(--beige-background, #F2F0EE);
  z-index: 1000;
}

.mobileMenu-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.mobileMenu-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 300ms, transform 300ms;
}

.mobileMenu-exit {
  opacity: 1;
  transform: translateX(0%);
}

.mobileMenu-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}


.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 100px 20px 20px 20px;
}

.mobileMenuItem {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 28px;
  text-decoration: none;
  cursor: pointer;
}
.mobileMenuItem a {
  text-decoration: none;
  color: #F2F0EE;
}
.mobileMenuItem a:visited {
  text-decoration: none;
  color: #F2F0EE;
}

.logoMobileWhite {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 20px;
}

.mobileMenuArrow {
  margin-left: 10px;
}

.mobileMenudropdown {
  text-decoration: none;
  margin-top: 10px;
}

.mobileMenudropdown a:visited {
  text-decoration: none;
  color: #F2F0EE;
}

.mobileMenudropdown a {
  text-decoration: none;
  color: #F2F0EE;
}

.mobileDropdownIcon {
  width: 32px;
}

.mobileDropdownText {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.mobileDropdownBlock {
  display: flex;
  gap: 12px;
  align-self: stretch;
  align-items: center;
  margin-bottom: 22px;
}

.mobileSocialBlock {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 20%;
}

.button {
  width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    padding: 0;
    scale: 1;
    background: transparent;
    border: 0;
    border-radius: 50%;
    transition: background 0.2s;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    right: 20px;
    top: 8px;
}

.button:is(:hover, :focus-visible) {
  background: transparent;
}

.button:is(:focus-visible) {
  outline-color: hsl(320 80% 50% / 0.5);
  outline-offset: 1rem;
  outline-width: 4px;
}


.button rect {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  fill: hsl(0, 0%, 0%);
}
.unset rect {
  transform-box: unset;
}
.button[aria-pressed=true] rect { 
  transition: translate 0.2s, rotate 0.2s 0.3s;
  fill: white;
}
.button rect {
  transition: rotate 0.2s 0s, translate 0.2s 0.2s;
}

.button[aria-pressed=true] rect:nth-of-type(1) {
  translate: 0 333%;
  rotate: -45deg;
}
.button[aria-pressed=true] rect:nth-of-type(2) {
  rotate: 45deg;
}
.button[aria-pressed=true] rect:nth-of-type(3) {
  translate: 0 -333%;
  rotate: 45deg;
}
.button[aria-pressed=true] svg {
  rotate: 90deg;
  transition: rotate 1s 0.4s;
}

@supports (--custom: linear()) {
  .btnWrapper {
    --elastic-out: linear(
      0, 0.2178 2.1%, 1.1144 8.49%,
      1.2959 10.7%, 1.3463 11.81%,
      1.3705 12.94%, 1.3726, 1.3643 14.48%,
      1.3151 16.2%, 1.0317 21.81%,
      0.941 24.01%, 0.8912 25.91%,
      0.8694 27.84%, 0.8698 29.21%,
      0.8824 30.71%, 1.0122 38.33%, 1.0357,
      1.046 42.71%, 1.0416 45.7%,
      0.9961 53.26%, 0.9839 57.54%,
      0.9853 60.71%, 1.0012 68.14%,
      1.0056 72.24%, 0.9981 86.66%, 1
    );
    --elastic-in-out: linear(
      0, 0.0009 8.51%, -0.0047 19.22%,
      0.0016 22.39%, 0.023 27.81%,
      0.0237 30.08%, 0.0144 31.81%,
      -0.0051 33.48%, -0.1116 39.25%,
      -0.1181 40.59%, -0.1058 41.79%, -0.0455,
      0.0701 45.34%, 0.9702 55.19%,
      1.0696 56.97%, 1.0987 57.88%,
      1.1146 58.82%, 1.1181 59.83%,
      1.1092 60.95%, 1.0057 66.48%,
      0.986 68.14%, 0.9765 69.84%,
      0.9769 72.16%, 0.9984 77.61%,
      1.0047 80.79%, 0.9991 91.48%, 1
    );
  }
  .button[aria-pressed=true] svg {
    transition-timing-function: var(--elastic-out);
    fill: white;
    color: white;
    margin-top: 10px;
  }
}




/* @media(max-width: 950px){
  .headerButtons{
    padding: 10px 20px;
  }
} */
@media(min-width: 992px) {
  .header {
    padding: 28px 80px 0 80px;
  }

  .logo {
    display: none;
  }

  .logoMobile {
    display: flex;
    align-items: flex-end;
  }

  .logoMobileFirst {
    width: 107px;
    height: 41px;
  }

  .inner {
    width: 20px;
    height: 20px;
  }

  .o {
    left: 14px;
    top: 55%;
  }

  .oBgWrapper {
    margin-left: -9px;
  }

  .logoMobileSecond {
    height: 37px;
    width: 76px;
  }

  .headerMenuBtn {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .button {
    right: 80px;
    top: 40px;
    width: 60px;
  }

  .headerMenuCloseBtn {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .logoMobileWhite {
    top: 40px;
    left: 80px;
    width: 190px;
    height: 56px;
  }

  .mobileMenu {
    padding: 160px 80px 0 100px;
  }

  .mobileMenu li {
    font-size: 44px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 56px;
  }

  .mobileMenuArrow {
    height: 28px;
    width: 30px;
  }

  .mobileDropdownText {
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    /* 125% */
    letter-spacing: 0.96px;
  }

  .mobileSocialIcon {
    width: 72px;
    height: 72px;
  }
}

@media(min-width: 1280px) {
  .header {
    padding: 32px 140px 0 140px;
  }
  .headerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 20px 40px;
    gap: 5px;
    margin-left: auto;
    /* border: 1.5px solid #070707;
    border-radius: 40px; */
  }
  .getButton {
    display: block;
  }

  .headerMenuBtn {
    display: none;
  }
  .button {
    display: none;
  }
}


@-webkit-keyframes o {
  0% {
    background-position: 0% 50%
  }

  100% {
    background-position: right
  }
}

@-moz-keyframes o {
  0% {
    background-position: 0% 50%
  }

  100% {
    background-position: right
  }
}

@keyframes o {
  0% {
    background-position: 0% 50%
  }

  100% {
    background-position: right
  }
}

/* @keyframes o {
  0%{
    background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  }
  50% {background-position:100% 50%}
  100%{
    background: linear-gradient(133.26deg, #082B9B 3.83%, #86B7E0 84.35%);
  }
} */

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animatedButton {
  opacity: 0;
  animation: fadeInFromTop 1s ease-in-out forwards;
}

.animatedButton:nth-child(1) {
  animation-delay: 1s;
}

.animatedButton:nth-child(2) {
  animation-delay: 1s;
}

.animatedButton:nth-child(3) {
  animation-delay: 1s;
}

/* CSS для дропдауну */
.dropdownContainer {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: -10px;
  top: 50px;
  width: 415px;
  transition: transform 0.3s ease-in-out;
  transform-origin: top left;
  padding: 0 5px;
  background: #F2F0EE;
  border-radius: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.72px;
  border: 2px solid var(--gradient-3, #082B9B);
  z-index: 1;

}

.dropdown a {
  text-decoration: none;
}

.dropdown a:visited {
  text-decoration: none;
  color: #000000;
}
.dropdownBlock a:visited {
  text-decoration: none;
  color: #000000;
}


.dropdownBlock {
  display: flex;
  gap: 44px;
  align-self: stretch;
  align-items: center;
  /* padding: 20px 0; */
}

.dropdownIcon {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 6.72px 5.32px 6.72px 5.6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}


.animatedEntering {
  animation: fadeIn 0.33s ease-in-out forwards;
}

.animatedExiting {
  animation: fadeOut 0.33s ease-in-out forwards;
}

@media (min-width: 1436px) {
  .headerContainer {
    gap: 60px;
  }
}
@media (min-width: 1600px) {
  .headerContainer {
    gap: 170px;
  }
}
