.headerWrapper {
  background: #F2F0EE;
}
.header{
  max-width: 1600px;
  padding: 15px 5px;
  margin: 0 auto;
}
.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 5px;
  border: 1.5px solid #070707;
  border-radius: 40px;
}
.headerButton{
  font-weight: 500;
  font-size: 20px;
  color: #070707;
  border: none;
  cursor: pointer;
}
.headerButton:hover{
  opacity: 0.7;
}
.headerGet:hover{
  opacity: 0.7;
}
.logo{
  display: flex;
  align-items: flex-end;
}
.oBgWrapper{
  position: relative;
  margin-left: -9px;
  display: flex;
  align-items: flex-end;
  z-index: 30;
}
.inner{
  position: relative;
  z-index: 25;
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  width: 16px;
  height: 15px;
  border-radius:50%;
  background-size: 150% 150%;

  
  -webkit-animation-name: o;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: o;
  -moz-animation-delay: 3s;
  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: forwards;

  animation-name: o;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.o{
  display: flex;
  position: absolute;
  z-index: 20;
  top: 56%;
  left: 17px;
  transform: translate(-50%, -50%);
  transition: all 1s;
}
.firstO{
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: scale(500) !important;
}

@media(max-width: 1500px){
  .header{
    max-width: 1200px;
  }
}
@media(max-width: 950px){
  .headerButtons{
    padding: 10px 20px;
  }
}
@-webkit-keyframes o {
  0%{background-position:0% 50%}
  100%{background-position: right}
}
@-moz-keyframes o {
  0%{background-position:0% 50%}
  100%{background-position: right}
}
@keyframes o {
  0%{background-position:0% 50%}
  100%{background-position: right}
}
/* @keyframes o {
  0%{
    background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  }
  50% {background-position:100% 50%}
  100%{
    background: linear-gradient(133.26deg, #082B9B 3.83%, #86B7E0 84.35%);
  }
} */