.clutchWrapper{
  padding-top: 87px;
  background: #161616;
}
.clutchIcon{
  max-width: 80%;
}
.container{
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1500px){
  .container{
    max-width: 1200px;
  }
}