.clutchWrapper{
  padding-bottom: 205px;
  background: #161616;
}
.clutchIcon{
  max-width: 80%;
}
.container{
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
.Logo > img {
  width: 84px;
  height: 84px;
}
.Logo {
  width: 84px;
  height: 84px;
}
.prevArrow{
  bottom: 0px !important;
  top: auto;
  right: 300px !important;
  left: auto;
  width: fit-content !important;
  z-index: 10;
}
.prevArrow::before{
  display: none;
}
.nextArrow{
  bottom: 0px !important;
  top: auto;
  right: 110px !important;
  width: fit-content !important;
  z-index: 10;
}
.nextArrow::before{
  display: none;
}
.starsWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 33px;
  align-items: flex-end;
}
.description{
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #E2DFDC;
  margin-bottom: 62px;
}
.stars{
  display: flex;
  align-items: center;
  gap: 20px;
}
.readMore{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.projectDecriptionWrapper{
  display: flex;
  align-items: center;
  gap: 20px;
}
.projectName{
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: #F2F0EE;
}
.projectDescription{
  margin-top: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #E2DFDC;
}
.projectWrapper{
  padding-bottom: 60px;
  min-height: 500px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.clutchIconMobile{
  display: none;
}
@media (max-width: 1500px){
  .container{
    max-width: 1200px;
  }
}
@media (max-width: 1215px){
  .clutchIcon{
    height: 100%;
  }
  .readMore{
    font-size: 14px;
    line-height: 18px;
  }
  .description{
    font-size: 16px;
    line-height: 22px;
  }
  .projectName{
    font-size: 24px;
    line-height: 28px;
  }
  .projectDescription{
    font-size: 14px;
    line-height: 20px;
  }
  .projectWrapper{
    min-height: 360px !important;
  }
  .nextArrow > svg{
    width: 164px !important;
  }
  .prevArrow > svg{
    width: 164px !important;
  }
  .stars{
    gap: 12px;
  }
  .clutchReview{
    width: 76px;
  }
  .stars > img{
    width: 16px;
  }
}
@media (max-width: 960px){
  .clutchIcon{
    display: none;
  }
  .clutchIconMobile{
    display: block;
    margin-bottom: 56px;
  }
  .clutchWrapper{
    padding-bottom: 120px;
  }
}
@media (max-width: 577px) {
  .nextArrow{
    right: 0px !important;
  }
  .prevArrow{
    left: 0px !important;
  }
}
@media (max-width: 466px){
  .clutchIconMobile{
    width: 100%;
  }
}