.footerWrapper{
  padding-top: 109px;
  background: #F2F0EE;
  border-radius: 60px 60px 0px 0px;
  margin-top: -60px;
}
.image{
  height: 200px;
}
.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px 48px 15px;
  margin-top: 134px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #E0D8D0;
}
.linksWrapper{
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.link{
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #161616;
  text-decoration: none;
  transition: all 0.4s;
  min-width: max-content;
}
.link:hover{
  opacity: 0.7;
  transition: all 0.4s;
}
.link:last-child:not(:first-child){
  margin-top: 24px;
}
.gmailWrapper{
  width: 30%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.gmail{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #161616;
}
.icons{
  margin-top: 24px;
}
.rights{
  max-width: 1600px;
  margin: 0 auto;
  padding: 13px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}

@media(max-width: 1500px){
  .container{
    max-width: 1200px;
  }
  .rights{
    max-width: 1200px;
  }
}
@media(max-width: 1270px){
  .gmailWrapper{
    width: auto;
  }
  .linksWrapper{
    width: auto;
  }
}