.footerWrapper{
  padding-top: 109px;
  background: #F2F0EE;
  border-radius: 60px 60px 0px 0px;
  margin-top: -60px;
}
.image{
  height: 200px;
}
.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px 48px 15px;
  margin-top: 134px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #E0D8D0;
}
.linksWrapper{
  width: 25%;
}
.gmailWrapper{

}
.links{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.link{
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #161616;
  text-decoration: none;
  transition: all 0.4s;
  min-width: max-content;
}
.link:hover{
  opacity: 0.7;
  transition: all 0.4s;
}
.gmailWrapper{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.imagesWrapper{
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.clutchImage{
  height: 70px;
}
.gmail{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #161616;
  margin-top: 24px;
}
.icons{
  margin-top: 24px;
}
.rights{
  max-width: 1600px;
  margin: 0 auto;
  padding: 13px 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #161616;
}

@media(max-width: 1500px){
  .container{
    max-width: 1200px;
  }
  .rights{
    max-width: 1200px;
  }
}
@media(max-width: 1270px){
  .gmailWrapper{
    width: auto;
  }
  .linksWrapper{
    width: auto;
  }
}
@media(max-width: 879px){
  .footerWrapper{
    padding-top: 32px;
    border-radius: 20px 20px 0px 0px;
  }
  .container{
    flex-direction: column;
    margin-top: 54px; 
    border-bottom: none;
  }
  .link{
    font-size: 14px;
    line-height: 18px;
  }
  .gmail{
    font-size: 14px;
    line-height: 18px;
  }
  .gmailWrapper{
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid #E0D8D0;
    padding-top: 32px;
  }
  .linksWrapper{
    margin-bottom: 44px;
  }
  .imagesWrapper{
    width: 100%;
    justify-content: space-between;
  }
  .imagesWrapper>a>img{
    width: 80%;
    height: 100%;
  }
  .image{
    height: 100%;
  }
  .rights{
    border-top: 1px solid #E0D8D0;
    padding: 13px 0;
    margin: 0 15px;
  }
  .imageDot{
    width: 12.05px !important;
    height: 11.03px !important;
  }
  .image{
    width: 235.43px !important;
    height: 52.89px !important;
  }
}