.industriesWrapper{
  position: relative;
  background: #161616;
  padding-top: 160px;
  padding-bottom: 160px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.container{
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 145px;
  box-sizing: border-box;
}
.background{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.backgroundMobile{
  display: none;
}
.sliderContainer{
  position: relative;
  max-width: fit-content;
}
.shadowTop{
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg, #151915 0%, rgba(20, 31, 21, 0) 100%);
  backdrop-filter: blur(1px);
}
.shadowBottom{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg, #151915 0%, rgba(20, 31, 21, 0) 100%);
  backdrop-filter: blur(1px);
  transform: rotate(-180deg);
}
.titleContainer{
  position: relative;
  z-index: 10;
  max-width: 700px
}
.desktop{
  display: block;
}
.mobile{
  display: none;
}
.title{
  font-family: "Clash Display Bold";
  font-weight: 500;
  font-size: 82px;
  line-height: 82px;
  color: #F2F0EE;
  margin-bottom: 48px;
}
.subtitle{
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #E2DFDC;
}
.sliders{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.industries{
  margin-top: 15px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 40px;
  border: 1px solid #86B7E0;
  box-sizing: border-box;
  width: 257px !important;
  height: 257px;
}



@media(max-width: 1500px){
  .container{
    max-width: 1200px;
  }
}
@media(max-width: 1350px){
  .container{
    gap: 10px;
    justify-content: space-between;
  }
  .titleContainer{
    max-width: 450px;
  }
  .title{
    font-size: 50px;
    line-height: 50px;
  }
  .subtitle{
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 1015px){
  .industriesWrapper{
    padding-top: 15px;
    padding-bottom: 120px;
  }
  .titleContainer{
    padding: 0 20px 44px 20px;
  }
  .title{
    font-size: 39px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  .subtitle{
    font-size: 16px;
    line-height: 22px;
  }
  .container{
    display: block;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  /* .industries > img {
    width: 100%;
  } */
  .industries{
    /* width: 164px !important;
    height: 164px; */
    margin-left: 10px;
    margin-right: 10px;
  }
  .sliders{
    width: 100%;
    display: block;
  }
  .shadowTop{
    display: none;
  }
  .shadowBottom{
    display: none;
  }
}
@media (max-width: 680px ){
  .industries > img {
    width: 100%;
  }
  .industries{
    width: 164px !important;
    height: 164px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .background{
    display: none;
  }
  .backgroundMobile{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}