.fourthBlockWrapper{
  position: relative;
  z-index: 10;
  background: linear-gradient(131.77deg, #030D42 0.09%, #437FED 97.17%);
  border-radius: 60px 60px 0px 0px;
  padding: 190px 140px 276px 140px;
  margin-top: -60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-family: 'Clash Display Bold';
  font-weight: 500;
  font-size: 125px;
  line-height: 130px;
  color: #FFFFFF;
}
@media(max-width: 1690px){
  .title{
    font-size: 90px;
    line-height: 90px;
  }
}
@media (max-width: 1100px){
  .title{
    font-size: 70px;
    line-height: 70px;
  }
}
@media (max-width: 980px){
  .fourthBlockWrapper{
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 0;
    border-radius: 20px 20px 0px 0px;
    gap: 28px;
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .fourthBlockImage{
    margin: -20px;
    width: 80%;
    height: auto;
  }
}
@media (max-width: 500px){
  .title{
    font-size: 50px;
    letter-spacing: 0.03em;
    line-height: 50px;
  }
  .fourthBlockImage{
    margin: -5px;
    width: 131px;
    height: auto
  }
}